.container{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1140px;

}

.container-txt{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    background-color: $darkDesatBlue;
    color: $white;
    width: 50%;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 4.5rem;

}

.content{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}

.stats-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stats-numbers{
    color: $white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.stats-headings{
    color: $statsHeadings;
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.85rem;
}

h1{
    font-family: 'Inter', sans-serif;
    line-height: 2.70rem;
    font-size: 2.25rem;
    margin: 0;
}

span{
    color: $softViolet;
}

p{
    color: $paragraph;
    line-height: 1.5rem;
    margin-top: 2rem;
}

.container-img{
    position: relative;
    background-color: $softViolet;
    border-radius: 0 0.5rem 0.5rem 0;
    overflow: hidden;

}

img{
    mix-blend-mode: multiply;
    width: auto;
    height: 100%;
    border-radius: inherit;
}

.mobile-img{
    display: none;
}

.img-overlay{
    background-color: $softViolet;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    border-radius: inherit;

}

.attribution{
    padding: 1rem;
    color: $paragraph;
    text-align: center;
}
a, a:visited{
    color: $softViolet;
    text-decoration: none;
}